<md-dialog class="pip-dialog pip-guidance-dialog pip-guide-preview layout-column" md-theme="{{$ctrl.theme}}" 
    ng-keydown="$ctrl.onKeyDown($event)">
    <div ng-if="!$ctrl.$routing" ng-swipe-left="$ctrl.onNextPage()" ng-swipe-right="$ctrl.onBackPage()"
         class="h-stretch flex layout layout-column"  ng-style="{'background-color':$ctrl.data.pages[$ctrl.number].color}">
        <div class="layout layout-row layout-align-space-between-center layout-align-xs-center-center w-stretch pip-guide-page pip-scroll-y">
            <md-button ng-click="$ctrl.onBackPage()" class="md-icon-button lm8 flex-fixed hide-xs" aria-label="BACK"
                       ng-disabled="$ctrl.transaction.busy() || $ctrl.number == 0">
                <md-icon md-svg-icon="icons:arrow-left" class="pip-arrow-button"
                         ng-class="{'opacity-disabled' :$ctrl.number == 0}"></md-icon>
            </md-button>
            <div style="visibility: hidden; position: fixed; width:0px; height: 0px;" ng-if="$ctrl.isOpen">
                <div ng-repeat="page in $ctrl.data.pages">
                        <img style="visibility: hidden; position: absolute" ng-if="page.pic_uri" src="{{page.pic_uri}}" aria-hidden="true" alt="" />
                        <img style="visibility: hidden; position: absolute" ng-if="page.pic_id_url" src="{{page.pic_id_url}}" aria-hidden="true" alt="" />
                </div>
            </div>

            <div class="layout layout-column layout-align-center-center bm16">
                <div class="pip-pic" ng-if="$ctrl.data.pages[$ctrl.number].pic_uri" 
                    ng-style="{'background-image':'url(' + $ctrl.data.pages[$ctrl.number].pic_uri + ')'}" >
                </div>
                <div class="pip-pic" ng-if="$ctrl.data.pages[$ctrl.number].pic_id_url" 
                    ng-style="{'background-image':'url(' + $ctrl.data.pages[$ctrl.number].pic_id_url + ')'}" >
                </div>

                <div class="layout layout-column layout-align-center-center pip-text">
                    <p class="pip-preview-title" ng-if="$ctrl.data.pages[$ctrl.number].title[$ctrl.ln]"
                        ng-bind-html="$ctrl.data.pages[$ctrl.number].title[$ctrl.ln]">
                    </p>
                    <p class="pip-preview-content" ng-if="$ctrl.data.pages[$ctrl.number].content[$ctrl.ln]" 
                        ng-bind-html="$ctrl.data.pages[$ctrl.number].content[$ctrl.ln]">
                        
                    </p>
                </div>
            </div>
            <md-button ng-click="$ctrl.onNextPage()" class="rm8 flex-fixed hide-xs md-icon-button" aria-label="DOWN"
                       ng-disabled="$ctrl.transaction.busy() || $ctrl.number == $ctrl.data.pages.length - 1">
                <md-icon md-svg-icon="icons:arrow-right" class="pip-arrow-button"
                         ng-class="{'opacity-disabled' : $ctrl.number == $ctrl.data.pages.length - 1}"></md-icon>
            </md-button>
        </div>

        <div class=" flex-fixed flex w-stretch pip-guide-page-footer bp16" ng-style="{'background-color':$ctrl.data.pages[$ctrl.number].color}">
            <div  class="layout-row layout-align-center-center" ng-if="$ctrl.data.pages.length > 1">
                <md-icon ng-repeat="radio in $ctrl.data.pages" ng-click="$ctrl.onChangePage($index)" class="pip-radio-button "
                         md-svg-icon="{{radio != $ctrl.data.pages[$ctrl.number] ? 'icons:radio-off' : 'icons:circle'}}">
                </md-icon>
            </div>

            <div class="h64 layout-row layout-align-xs-space-between-center layout-align-center-center">

                <md-button ng-click="$ctrl.onBackPage()" class="lm8 flex-fixed md-icon-button" ng-if="$ctrl.pipMedia('xs')" aria-label="BACK"
                           ng-disabled="$ctrl.transaction.busy() || $ctrl.number == 0">
                    <md-icon md-svg-icon="icons:arrow-left" class="pip-arrow-button"
                             ng-class="{'opacity-disabled' :$ctrl.number == 0}"></md-icon>
                </md-button>

                <md-button ng-click="$ctrl.onClose()" ng-if="$ctrl.number == $ctrl.data.pages.length - 1"
                           class="pip-button-got rm8 lm8 md-raised"
                           ng-style="{ 'color':$ctrl.data.pages[$ctrl.number].color }"
                           aria-label="NEXT"
                           ng-disabled="$ctrl.transaction.busy()">
                   {{ :: 'GUIDE_COMPLETE_BUTTON' | translate }}
                </md-button>

                <md-button ng-click="$ctrl.onClose()" ng-if="$ctrl.number != $ctrl.data.pages.length - 1"
                            class="pip-button-got rm8 lm8 pip-button-got-not-raised"
                            ng-style="{ 'background-color':$ctrl.data.pages[$ctrl.number].color}"
                            aria-label="NEXT"
                            ng-disabled="$ctrl.transaction.busy()">
                    {{ :: 'GUIDE_COMPLETE_BUTTON' | translate }}
                </md-button>

                <md-button ng-click="$ctrl.onNextPage()" class="rm8 flex-fixed  md-icon-button"  ng-if="$ctrl.pipMedia('xs')"  aria-label="DOWN"
                           ng-disabled="$ctrl.transaction.busy() || $ctrl.number == $ctrl.data.pages.length - 1">
                    <md-icon md-svg-icon="icons:arrow-right" class="pip-arrow-button"
                             ng-class="{'opacity-disabled' : $ctrl.number == $ctrl.data.pages.length - 1}"></md-icon>
                </md-button>
            </div>


        </div>

    </div>
</md-dialog>
