.guides-samples md-dialog.pip-guide-preview {
    position: relative;
    width: inherit !important;
    max-width: 80% !important;
    max-height: 100% !important;
    height: 100% !important;
    min-height: 100% !important;
    margin: 0 auto;
  }

  
    @media (min-width: 768px) {
        .guides-samples pip-collage,
        .guides-samples .pip-pic {
            height: 450px;
            width: 650px;
            margin-bottom: 32px;
        }
        .guides-samples pip-collage .pip-collage-section {
            height: 450px;
            width: 650px;
        }
    }

    .guides-samples .pip-guide-preview .pip-guide-page .pip-text {
        max-width: 70%;
    }

    .pip-preview-content {
        color: rgba(255, 255, 255, 0.87);
    }

    .pip-preview-title {
        color: rgba(255, 255, 255, 0.87);
    }
